# Welcome the First Notebook !
# This notebook is related to the following material explained in 3.1.4 from the eBook:
##  - Basic Data Types

### Numbers

In [2]:
x = 3 
y = 3.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [3]:
z = x + y 
print(z)
print(type(z))

6.5
<class 'float'>

### String

In [6]:
s = "Hello World! "
print(s)
print(type(s))

Hello World!
<class 'str'>

#### As we said, Strings are just a bunch of characters. Thus, we can access some of these characters like this

In [8]:
new_s = s[2:5]
print(new_s)

llo

#### We can also concatenate different strings with each others

In [10]:
newer_s = s + new_s
print(newer_s)

Hello World! llo

#### We can also multiply a number by a string. This will have the effect of repeating this string a number of times equal to this number

In [13]:
repeated_s = s*4
print(repeated_s)

Hello World! Hello World! Hello World! Hello World!

#### We can not add a number to string directly like this.

In [15]:
add_s_num = s + 4

TypeError: can only concatenate str (not "int") to str

#### The error is pretty clear ! So, what we do to add a number to string is this

In [17]:
add_s_num = s + str(4)
print(add_s_num)

Hello World! 4

#### What we just did is called type casting, as we converted the number into a string so we can now concatenate them together.

#### The same operation can be done with float to number or the opposite

In [20]:
f_to_i = int(3.2)
i_to_f = float(3)
print(f_to_i)
print(type(f_to_i))
print(i_to_f)
print(type(i_to_f))

3
<class 'int'>
3.0
<class 'float'>

### Boolean

#### This is a very simple data type where the variable is either True or False (1 or 0), based on a condition

In [23]:
is_true = 1.2 >1 
print(is_true)
print(type(is_true))

True
<class 'bool'>