# This notebook is part of Section 3.3

## Import the libraries

In [48]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split ## Splitting the data
from sklearn.preprocessing import StandardScaler, MinMaxScaler ## Normalizing the dataset
from sklearn.model_selection import cross_val_score ## K-Cross Validation
from sklearn import svm ## Support Vector Machine Algorithm ( will take about in chapter 5)
from sklearn.datasets import load_iris ## Toy dataset

## Fix the Directory

In [36]:
os.chdir('D:')
os.getcwd()

'D:\\'

## Load the Dataset

In [37]:
cars_df=pd.read_excel('cars.xls')

In [38]:
cars_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,US
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,US
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,US
4,ford torino,17.0,8,302.0,140,3449,10.5,70,US

## Convert the categorical variables into dummy variables

In [39]:
cars_df_dum=pd.get_dummies(cars_df.drop(columns='Model'))

In [40]:
print(cars_df.shape)
print(cars_df_dum.shape)

(392, 9)
(392, 10)

## Choose MPG to be our target variable

In [41]:
X=cars_df_dum.drop(columns='MPG')
y = cars_df_dum.MPG

## Normalization

Note that we normalize the training set alone and the testing set alone

Therefore, we need to split our data first

## Split the Dataset

In case you want to remember why we split our dataset, this image can help.

<img src="https://raw.githubusercontent.com/DS-100/textbook/master/assets/feature_train_test_error.png">

In [42]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42) ## Very easy ! The random state is to replicate the results afterwards

## Let us now Normalize

In [43]:
scaler=StandardScaler()

In [44]:
X_train_n=pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)

In [45]:
X_test_n=pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)

Hint : You can use MinMaxScaler and see which works better for you on the following algorithm

## K-Fold Cross-Validation

<img src="https://qph.fs.quoracdn.net/main-qimg-598bb0cf54a546eec9ef1d5d39294386">

In [46]:
iris = load_iris()

In [49]:
clf = svm.SVC(kernel='linear', C=1)
scores = cross_val_score(clf, iris.data, iris.target, cv=5)
print(scores)

[0.96666667 1.         0.96666667 0.96666667 1.        ]

These 5 numbers represent the cross-validation accuacy on each fold, we used 5 folds in this example